<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target includeMode="feature" name="org.lunifera.p2.target.juno" sequenceNumber="78">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130318-0639"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.0.v201303201134"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130314-1330"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130314-0217"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.slf4j.api" version="1.6.4.v20120130-2120"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.apache.derby" version="10.5.1.1_v201108232300"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.json" version="1.0.0.v201011060100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.3.0.v20130319-1000"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.3.0.v20130319-1000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3-I-builds"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.assert-utilities.feature.group" version="1.1.0"/>
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.1"/>
<unit id="org.lunifera.runtime.feature.logging.equinox.over.slf4j.source.feature.group" version="0.0.1.201303061209"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.0.0.201303061944"/>
<unit id="org.lunifera.dependencies.feature.equinox.feature.group" version="3.9.0.201303061944"/>
<unit id="org.lunifera.dependencies.feature.vaadin.addon.icepush.feature.group" version="0.5.5"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.feature.group" version="0.0.1.201303061209"/>
<unit id="org.lunifera.dependencies.feature.equinox.testing.feature.group" version="3.9.0.201303061944"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.source.feature.group" version="0.0.1.201303061209"/>
<unit id="org.lunifera.runtime.feature.logging.equinox.over.slf4j.feature.group" version="0.0.1.201303061209"/>
<repository location="http://lunifera.github.com/p2/kepler/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.ecview.feature.core.feature.group" version="0.0.1.201304242003"/>
<repository location="http://lun.lunifera.org/downloads/p2/ecview/nightly/"/>
</location>
</locations>
</target>
