<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.semanticsoft.vaaclipse.app.application"
            name="Demo1">
         <property
               name="appName"
               value="Demo1">
         </property>
         <property
               name="applicationXMI"
               value="org.lunifera.examples.vaaclipse.demo1.e4/Application.e4xmi">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property 
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="cssTheme"
               value="reindeer">
         </property>
         <property
               name="applicationWidgetset"
               value="platform:/plugin/org.lunifera.examples.vaaclipse.demo1.widgetset/resources/org.lunifera.examples.vaaclipse.demo1.widgetset.Widgetset">
         </property>
         <property
               name="applicationHeaderIcon"
               value="org.lunifera.examples.vaaclipse.demo1.e4/img/vaaclipse.png">
         </property>
      </product>
   </extension>
   
   <extension
         id="AddonSnippet"
         name="Addon Snippet"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="false"
            class="org.lunifera.examples.vaaclipse.demo1.e4.processor.OpenFileProcessor">
      </processor>
      <processor
            beforefragment="true"
            class="org.lunifera.examples.vaaclipse.demo1.e4.processor.UsersCountProcessor">
      </processor>
   </extension>
   <extension
         point="org.semanticsoft.vaaclipse.theme">
         <themecontribution
            cssUri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/styles.css"
            id="org.semanticsoft.vaaclipse.resources"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
      <themecontribution
            cssUri="css/default.css"
            id="org.lunifera.examples.vaaclipse.demo1.e4.maincontrib"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="img/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.semanticsoft.vaaclipsedemo.cassandra.expression.texteditor">
         <with
               variable="editortype">
            <equals
                  value="texteditor">
            </equals>
         </with>
      </definition>
   </extension>
</plugin>
