<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lunifera.org/examples/ecview/dsl/MasterDetailDSL" 
       class = "org.lunifera.examples.ecview.dsl.masterDetailDSL.MasterDetailDSLPackage"
       genModel = "org/lunifera/examples/ecview/dsl/MasterDetailDSL.genmodel" /> 
	
  </extension>

</plugin>
