<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.lunifera.p2.target.juno" sequenceNumber="95">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.examples.vaaclipse.feature.demo1.source.feature.group" version="0.0.1.201306231652"/>
<unit id="org.lunifera.examples.vaaclipse.feature.demo1.feature.group" version="0.0.1.201306231652"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/kepler/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.semanticsoft.vaaclipse.feature.runtime.core.source.feature.group" version="0.0.1.201306232002"/>
<unit id="org.semanticsoft.vaaclipse.feature.runtime.core.feature.group" version="0.0.1.201306232002"/>
<repository location="http://lun.lunifera.org/downloads/p2/vaaclipse/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.equinox.source.feature.group" version="3.9.0.201306102153"/>
<unit id="org.lunifera.runtime.feature.common.source.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.runtime.feature.common.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.runtime.feature.logging.equinox.over.slf4j.source.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.1.0.201306102153"/>
<unit id="org.lunifera.dependencies.feature.equinox.feature.group" version="3.9.0.201306102153"/>
<unit id="org.lunifera.runtime.feature.configuration.manager.source.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.runtime.feature.logging.equinox.over.slf4j.feature.group" version="0.0.1.201306102156"/>
<unit id="org.lunifera.dependencies.feature.atmosphere.feature.group" version="1.0.14.201306102153"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/kepler/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.0.v20130528-0742"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130530-1430"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
